.background    { background-image: url("http://www.clipartkid.com/images/166/alayx-wallpaper-blue-sky-background-9L21cI-clipart.jpg"); 
                 table-layout: fixed;
				 border-spacing: 0; }
.background td { padding: 0;        }
.lava          { background-image: url("http://i297.photobucket.com/albums/mm222/komaokc/th_animatedlava2.gif"); }
.wall          { background-image: url("http://cgright.com/texture/126_preview.jpg"); }
.spike         { background-image: url("http://i.imgur.com/DoQSEvD.png"); }
.celebrate     { background-image: url("http://www.amightywind.com/spanish/images/goldsparkle_a.gif"); }

.actor  { position: absolute;  }
.portal { background-image: url("http://www.imagemagick.org/Usage/anim_mods/glitter_blue_tiled.gif"); }
.player { background-image: url("http://i.imgur.com/dRqQWr3.png"); }
.boost  { background: rgb(8, 54, 203); 
          background-image: url("http://www.gifs.net/Animation11/Science_and_Body/Physics/electricity.gif"); }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.lost .player {
  background-image: url("http://i.imgur.com/x7SfGJu.png");
}

.lost2 .player {
  background: url("http://i.imgur.com/x56JzSs.png");
}

.won .player {
  background-image: url("http://i.imgur.com/i5Ano96.png");
}
